.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 270px;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3c4043;

    input[type="text"] {
      width: 584px;
      height: 44px;
      border-radius: 24px;
      margin-bottom: 30px;
      border: 1px solid #dfe1e5;
      padding-left: 20px;
      text-justify: center;

      &:hover {
        box-shadow: 0 0 5px lightgray;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px lightgray;
      }
    }

    input[type="submit"],
    button {
      width: fit-content;
      border: none;
      border: 1px solid #f8f9fa;
      background-color: #f8f9fa;
      padding: 0 16px;
      height: 36px;
      border-radius: 4px;

      &:hover {
        border: 1px solid #dfe1e5;
      }
    }
  }
}

#navbarNavAltMarkup {
  justify-content: flex-end;
}

.container_advanced {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;

  h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-end;

    div {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 13px;

      input {
        width: 70%;
        border: 1px solid #d9d9d9;
        height: 25px;
        padding: 1px 8px;
        border-radius: 2px;

        &:focus {
          outline: none;
          border: 1px solid #3079ed;
        }
      }
    }

    input[type="submit"] {
      background-color: #4d90fe;
      color: #fff;
      border: 1px solid #3079ed;
      height: 30px;
      min-width: 120px;
      padding: 0 12px;
      border-radius: 2px;
      font-size: 11px;
      font-weight: bold;
      margin-top: 20px;

      &:hover {
        background-color: #3079ed;
      }
    }
  }
}
